#pSanhok, #pErangel, #pMiramar, #pBlackoutBeta {
  margin-top: 12px; 
  font-size: 125%; 
  font-weight: bold; 
  font-variant: small-caps; 
  color: black
}
#pSanhok:hover, #pErangel:hover, #pMiramar:hover, #pBlackoutBeta:hover {
  font-size:xx-large;
  animation: none;
  
}

h1 {
  font-size: 300%; 
  font-family: verdana; 
  color: rgb(41, 41, 41);
  border: #f7f7f7 solid white
}

#mainErangel{
  background: url(../IMG/BgErangel.jpg) no-repeat center center fixed;  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

#mainSanhok{
  background: url(../IMG/BgSanhok.jpg) no-repeat center center fixed;  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

#mainMiramar{
  background: url(../IMG/BgMiramar.jpg) no-repeat center center fixed;  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

#mainBlackoutBeta{
  background: url(../IMG/beta.jpg) no-repeat center center fixed;  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

#pBlackoutBeta, #BlackoutBetah1 {
  color: #FE6B01;
}

#BlackoutBetaBtn {
  color: black;
  background: #FE6B01;
}
  
  #part1 {
    width:100%;
    text-align:center; 
    height: 100vh; 
    padding-top:20%;
  }

  